.board-input,
.board-output {
    position: absolute;

    z-index: 20;

    display: grid;
    place-items: center;

    color: #333333;

    font-family: serif;
    font-weight: 900;
    font-size: 16px;

    height: 24px;
    width: 24px;

    user-select: none;

    padding: 0;

    border: 1px solid #dedede;
}

.board-input {
    border-radius: 50%;
}

.board-output {
    border-radius: 4px;
}

.board-input:hover {
    cursor: pointer;
}

.activated {
    background-color: #ff2626;

    color: #eeeeee;
}
