.modal-container {
    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 1000;

    background-color: #000000aa;
}

.modal-container.modal-inactive,
.modal.modal-inactive {
    display: none;
}

.modal {
    position: absolute;

    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.modal-alert {
    width: 400px;
    min-height: 80px;

    background-color: #efefef;

    border: 1px solid #dedede;
    border-radius: 4px;

    padding: 8px 10px;

    display: flex;
    flex-direction: column;

    box-shadow: 1px 1px 4px #333333;
}

.alert-message {
    font-family: sans-serif;

    flex: 1;
}

.alert-ok {
    width: 50px;

    padding: 4px 8px;

    font-size: 12px;
    text-transform: uppercase;

    color: white;

    background-color: #0077ff;

    border: 0;
    border-radius: 2px;

    user-select: none;

    align-self: flex-end;
}

.alert-ok:hover {
    cursor: pointer;

    background-color: #0066ee;
}
